<launch>
    <arg name="latitude" default="-33.722761"/>
    <arg name="longitude" default="150.673997"/>
    <arg name="veh" default="drone" />
    <arg name="imu_rotate" default='0' />
    <node pkg="drone_location_transfer" type="localization_gps_imu_drone.py" name="localization_gps_imu" respawn="false" output="screen">
        <remap from="gps" to="mavros/global_position/global"/>
        <remap from="imu" to="mavros/imu/data"/>
        <param name="latitude" value="$(arg latitude)"/>
        <param name="longitude" value="$(arg longitude)"/>
        <param name="imu_rotate" value="$(arg imu_rotate)" />
    </node>
    <node pkg="drone_location_transfer" type="location_transfer.py" name="location_transfer" respawn="false" output="screen">
        <remap from="mavros/pose" to="mavros/local_position/pose"/>
        <remap from="ekf/pose" to="localization_gps_imu/pose"/>
    </node>
</launch>